body {background-color: whitesmoke;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
  font-family: cursive;
  }
  .topnav {
      overflow: hidden;
      position: sticky;
      top: 0px;
      border-bottom-color: #133b5c;
      border-bottom-style: solid;
      border-bottom-width: 10px; 
      z-index: 1;
      width: 100%;

    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      background-color: #1a1c20;
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 13px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: cursive;
      
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ffffffde;
      color: #133b5c;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #fcdab7;
      color: #133b5c;
      font-weight: bold;
    }
  
  #helloWorld {text-align: center;
  color: #fcdab7;
  font-size: 40pt;
  font-family: cursive;
  font-weight: bold;
  
  } 
  #webvatten {margin: 75px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; }
  #blogContainer {
    position: relative;
    margin-top: 75px;
    width: 100%;
    height: 1000px;
    background-color: #1a1c20;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .blogPost {
    background-color: white;
    position: absolute;
    height: 60%;
    width: 45%;
    margin-top: 50px;
    margin-left: 10px;
    
  
  }
  .blogPostTitle {
    color: #133b5c;
    font-size: 50pt;
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
  }
  .blogPostCaption {
    text-align: left;
    color: #1a1c20;
    margin-left: 50px;
    position: absolute;
    font-size: 15pt;
    margin-top: 1px;
    
   
  }
  .blogPostContainerTitle {
    color: white;
    text-align: left;
    font-size: 55pt;
    font-family: cursive;
    margin-bottom: 6px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  .blogPostAbout {
    color: #fcdab7;
    text-align: center;
    font-size: 37pt;
    font-family: cursive;
  }
  .footer {
    background-color: #fcdab7;
    width: 100%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: cursive;
    position: absolute;
    padding-bottom: 10px;
  }
  #menu li{
    list-style-type: none;
    margin-right: 10px;
    padding-left: 100px;
    display: inline;  
  }
  a {
    text-decoration: none;
    color: #1a1c20;
    font-size: 15pt;
    
  }
  .footerAbout {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 20pt;
    background-color: #1d2d50;
    width: 100%;
    height: 100px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: static;
  
  }
  .footerWebvatten {
    color: white;
    font-size: 10pt;
    text-align: left;
    position: relative;
    background-color: #1a1c20;
    padding: 0px; margin: 0px;
  }
  .header1 {color: #ffffff; text-align: center; font-size: 10em;
    font-family: cursive;
    font-weight: bold;
  }
  .text1 {color: #fcdab7;
  font-size: 20pt;
  text-align: center;
  margin-left: 20px;
  font-weight: lighter;
  }
  
  .block {
    width: 100px;
    display: inline;
  }
  .button {
    background-color: #1a1c20;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    color: #f2f2f2;
    height: 50px;
    width: 200px;
    
  }
  .section1 {
  background-color: #1a1c20;  
  width: 100%;
  height: 1000px;
  }
  #border1 {
    width: 100%;
    background-color: #1d2d50;
    height: 400px;
    position: absolute;
  }
.mainTitle {
font-size: 65px;
text-align: center;
padding-top: 10px;
margin-top: 10px;
}
.beta {
font-size: 30pt;
color: #1d2d50;
font-style: italic;
   
}

.engageForm {
background-color: lightblue;
position: relative;
left: 33%;
width: 500px;
height: 90px;
border-radius: 10px;
font-size: 20pt;
font-family: monospace;
text-align: center;
padding-top: 10px;

}
.container {
position: relative;
}
#engagement {
text-align: center;
position: static;
font-size: 40pt;
font-weight: bold;
padding: 0;
margin: 0;
padding-top: 10px;


}
.result {
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
  position: absolute;
  left: 10px;
  
}
.note {
  position: absolute;
  bottom: 300px;
  left: 20px;
  font-style: italic;
  font-size: 9pt;
}
.djangoReult {
  color: #1d2d50;
}

